1. Getting Started/bin/Debug/netcoreapp2.0/dotnetlearning.dll
1. Getting Started/bin/Debug/netcoreapp2.0/dotnetlearning.pdb
1. Getting Started/obj/Debug/netcoreapp2.0/dotnetlearning.dll
1. Getting Started/obj/Debug/netcoreapp2.0/dotnetlearning.pdb
1. Getting Started/obj/Debug/netcoreapp2.0/dotnetlearning.csproj.FileListAbsolute.txt
1. Getting Started/bin/Debug/netcoreapp2.0/dotnetlearning.dll
1. Getting Started/bin/Debug/netcoreapp2.0/dotnetlearning.pdb
1. Getting Started/obj/Debug/netcoreapp2.0/dotnetlearning.dll
1. Getting Started/obj/Debug/netcoreapp2.0/dotnetlearning.pdb
1. Getting Started/obj/Debug/netcoreapp2.0/dotnetlearning.csproj.FileListAbsolute.txt
